.fw_bold {
  font-weight: 900;
}

.d_flex {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.col {
  flex-direction: column;
}

.ml {
  margin-left: 50px;
}

.cardr {
  margin: 20px;
  background-color: #222;
  border-radius: 10px;
  max-width: 1200px;
}

.button {
  margin: 10px;
  gap: 7px;
  border-radius: 20px;
  color: white;
}

.button.three {
  margin: 10px;
  border-radius: 20px;
  color: white;
}
